/* html, body {
    margin: 0 auto;
    font-family: 'Roboto';
    color: #1C1F3D;
} */

#account .card {
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 55%;
    min-width: 400px;
    height: 55em;
    background-image: url('../img/pjv-opacity.png');
    background-size: cover;
    background-position-x: 60%;
    background-repeat: no-repeat;
    border: 3px solid rgb(28, 31, 61);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#account .inside-card {
    background: rgba(255, 255, 255, 0.514);
    border-radius: 328px 0px 15px 15px;
    width: 95%;
    height: 87%;
    margin-top: 10%;
}

#account .avatar {
    height: 15em;
    width: 15em;
    background: #FFFFFF;
    border: 3px solid #1C1F3D;
    border-radius: 50%;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#account .avatar img {
    height: 60%;
    margin: auto;

}

#account .card-head {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#account h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

#account h2 {
    font-size: 2em;
    font-weight: lighter;
    color: #323868;
}

#account .user {
    margin-left: 5%;
    margin-top: 5%;
}

#account .xp {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

#account hr {
    border: none;
    width: 20%;
    height: 0.3em;
    background-color: #EFC732;
    margin: auto;
}

#account .xp p {
    font-size: 2em;
    font-weight: 900;
}

#account .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}

#account ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 8%;
}

#account .input-user-info {
    margin-right: 20%;
    font-weight: bolder;
    color: #323868;
}

#account .edit img{
    width: 20px;
    opacity: 0.6;
}

#account .edit img:hover {
    transform: rotate(15deg);
    opacity: 1;
}

@media screen and (max-width: 1150px){
    .card {
        font-size: 80%;
        height: auto;
    }
}


@media screen and (max-width: 992px) {


#account .card-head {
    display: flex;
    flex-direction: column;
    text-align: center;
}


}
