:root {
    --color-primary: #1C1F3D;
    --color-secondary: #CDC6C8;
    --color-yellow: #EFC732;
}

body {
    padding: 0;
    margin: 0;
    max-width: 1920px;
    font-family: 'Josefin Sans';
}

* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
    background-image: url("../img/fond_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#menu,
#menu ul {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 85px;
    list-style: none;
}

#menu li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#menu ul li {
    display: inherit;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    line-height: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 80px;
}

#menu li:hover ul {
    max-height: 15em;
}

#menu li {
    background-color: none;
}

#menu li li {
    text-align: center;
    background-color: var(--color-primary);
}

#menu li li a {
    font-size: 0.8em;
}

#menu a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 22px;
    color: var(--color-yellow);
}

#menu ul a {
    padding: 8px 0;
}

#menu li a:hover {
    color: white;
}

.border {
    border-right: 1px solid white;
}

.logo {
    float: left;
    width: 10em;
    margin-left: 2%;
}

.avatar {
    float: right;
    background-image: url("../img/avatar.svg");
    background-repeat: no-repeat;
    background-size: auto 150px;
    width: 125px;
    height: 145px;
}

.avatar img {
    display: block;
    margin: 0 auto;
    margin-top: 40%;
    height: 60px;
}

.avatar span {
    float: left;
    margin-top: 18%;
    text-align: center;
    width: 100%;
    color: white;
}

.avatar span a {
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
}

.avatar span a:hover {
    color: var(--color-yellow);
}

#langue {
    float: right;
    padding: 0;
}

#langue ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#langue li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#langue ul li {
    display: inherit;
}

#langue ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 64px;
}

#langue li:hover ul {
    max-height: 15em;
}

#langue li {
    background-color: none;
}

#langue li li {
    text-align: center;
    background-color: var(--color-primary);
}

#langue a {
    padding: 8px 22px;
}

button {
    float: right;
    margin: 3%;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    text-transform: uppercase;
    background: var(--color-primary);
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        display: none;
    }

    #langue {
        display: none;
    }

    .avatar {
        margin-right: 1%;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }

    #langue {
        display: none;
    }

    .avatar {
        display: none;
    }

    nav {
        background-color: none;
        height: 50px;
    }

    #menu,
    #menu ul {
        line-height: 50px;
        width: 100%;
        height: auto;
    }

    #menu li {
        background-color: var(--color-primary);
        display: block;
    }

    #menu ul li {
        display: inherit;
    }

    .border {
        border: none;
    }

    #menu ul {
        top: 50px;
    }
}
