:root {
    --color-primary: #1C1F3D;
    --color-secondary: #CDC6C8;
    --color-yellow: #EFC732;
}

body {
    padding: 0;
    margin: 0;
    max-width: 1920px;
    font-family: 'Josefin Sans';
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-yellow);
    padding: 15px 35px;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 10em;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
    background-image: url("../img/fond_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#menu,
#menu ul {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 85px;
    list-style: none;
}

#menu li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#menu ul li {
    display: inherit;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    line-height: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 80px;
}

#menu li:hover ul {
    max-height: 15em;
}

#menu li {
    background-color: none;
}

#menu li li {
    text-align: center;
    background-color: var(--color-primary);
}

#menu li li a {
    font-size: 0.8em;
}

#menu a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 22px;
    color: var(--color-yellow);
}

#menu ul a {
    padding: 8px 0;
}

#menu li a:hover {
    color: white;
}

#menu input[type=submit] {
    background-color: var(--color-primary);
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    color: var(--color-yellow);
    margin-left: 85px;
}
#menu input[type=submit]:hover {
    color: white;
}
.border {
    border-right: 1px solid white;
}

.logo {
    float: left;
    width: 10em;
    margin-left: 2%;
}

.avatar {
    float: right;
    background-image: url("../img/avatar.svg");
    background-repeat: no-repeat;
    background-size: auto 150px;
    width: 125px;
    height: 145px;
}

.avatar img {
    display: block;
    margin: 0 auto;
    margin-top: 40%;
    height: 60px;
}

.avatar span {
    float: left;
    margin-top: 18%;
    text-align: center;
    width: 100%;
    color: white;
}

.avatar span a {
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
}

.avatar span a:hover {
    color: var(--color-yellow);
}

#langue {
    float: right;
    padding: 0;
}

#langue ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#langue li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#langue ul li {
    display: inherit;
}

#langue ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 64px;
}

#langue li:hover ul {
    max-height: 15em;
}

#langue li {
    background-color: none;
}

#langue li li {
    text-align: center;
    background-color: var(--color-primary);
}

#langue a {
    padding: 8px 22px;
}

#button_footer {
    margin: 0 0;
}

#button_footer .btn_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 1% auto;
    border: none;
    white-space: pre-line;
    border-radius: 75px;
    color: var(--color-primary);
    padding: 18px 30px;
    text-transform: uppercase;
    background: var(--color-yellow);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
    width: 150px;
    font-weight: 600;
}

#button_footer button:hover {
    color: white;
}

#button_footer a {
    text-decoration: none;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../img/footer.png");
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    height: 450px;
}

.right_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            /* -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; */
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35%;
    font-size: 1.1em;
    font-weight: 600;
}

.right_footer ul {
    list-style: none;
    border-left: 3px solid var(--color-yellow);
    line-height: 1.7em;
}

.right_footer a {
    text-decoration: none;
    color: white;
}

.right_footer a:hover {
    color: var(--color-yellow);
}

ul#middle {
    margin-left: 2.5em;
}

.left_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }


.social a img {
    width: 48px;
    height: 48px;
}

p.number {
    font-size: 1.8em;
}

hr {
    border: solid 2px var(--color-yellow);
    width: 80%;
}

.hour {
    margin-top: 0.5em;
    font-size: 1.2em;
    white-space: pre-line;
    text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .logo {
        display: none;
    }

    footer {
        background-image: none;
    }

    #button_footer {
        margin: 3% 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
        display: none;
    }

    #langue {
        display: none;
    }

    .avatar {
        margin-right: 1%;
    }

    footer {
        background-image: none;
    }

    #button_footer {
        margin: 3% 0;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        display: none;
    }

    #langue {
        display: none;
    }

    .avatar {
        display: none;
    }

    nav {
        background-color: none;
        height: 50px;
    }

    #menu,
    #menu ul {
        line-height: 50px;
        width: 100%;
        height: auto;
    }

    #menu li {
        background-color: var(--color-primary);
        display: block;
    }

    #menu ul li {
        display: inherit;
    }

    .border {
        border: none;
    }

    #menu ul {
        top: 50px;
    }

    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-image: none;
        height: auto;
    }

    .left_footer {
        width: 80%;
    }

    ul#middle {
        margin-left: 0;
    }

    .right_footer {
        width: 80%;
        padding: 2% 0;
    }

    #button_footer {
        margin: 3% 0;
    }
}
